html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

body > div {
    padding: 20px 20%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    width: 100px;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

.header, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 20px 15% 60px 15%;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    width: 60%;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.header-link {
    color: #E5E7EB;
    font-size: 16px;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    margin-right: 15px;
}

.hero-left > * {
    margin: 5px 0;
}

.hero-right {
    margin-left: 15px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: #E5E7EB;
    font-size: 16px;
}

.main-info > * {
    margin: 40px 0;
}

.main-info h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thumbnail-item {
    width: 22%;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail-item img {
    border: #3882F6 3px solid;
    border-radius: 13px;
}

.thumbnail-item p {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

.main-quote {
    background-color: #E5E7EB;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-quote p {
    margin: 0;
}

.inspiring-quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.attribution {
    font-size: 20px;
    font-weight: 900;
    text-align: right;
}

.main-cta {
    padding-top: 80px;
    padding-bottom: 80px;
}

.cta-content {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #3882F6 3px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

.cta-content * {
    margin: 0;
}

.cta-content button {
    border: #F9FAF8 1px solid;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px 15%;
    font-size: 16px;
    text-align: center;
}